<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order, <%= @order.email %></h4>
  </div>

<!-- Taken from products/show.html.erb -->
<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="4">
          Order total:
        </th>
        <th>
          <%= number_to_currency(@order.total_cents / 100, :precision => 2) %>
        </th>
      </tr>
    </tfoot>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <tr>
          <td>
            <%= image_tag line_item.product.image.tiny, class: 'main-img' %>
          </td>
          <td>
            <h4><%= line_item.product.name %></h4>

            <p> <%= line_item.product.description %></p>
          </td>
          <td>
            <%= line_item.product.price %>
          </td>
          <td>
            <%= line_item.quantity %>
          </td>
          <td>
            <%= line_item.product.price %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>
<div class="container">
  <p><%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary'%></p>
</div>
